// Colores

$negro: #000000;
$calipso: #03c3eb;
$gris: #bebebe;
$rojo: #e74c3c;
$grisazulado: #9098a0;
$celeste: #93bfdc;
$blanco: #FFFFFF;

//Tipografia

$opensans: 'Open Sans', sans-serif;

//peso

$extrabold: 800;
$bold: 700;
$regular: 400;
$light: 300;


// tamaño

$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;
