 //Ejercicio1

 .nav__ejercicio1{
   background-color: $blanco;
   border: 2px solid $negro;
     margin: 1rem 3.2rem 1rem 2.5rem;
     padding: 2rem;
 }
 //Ejercicio2

 .nav__ejercicio2{
   border: 2px solid $negro;
   background-color: $blanco;
   margin: 1rem 3.2rem 1rem 2.5rem;
   padding: 2.5rem;
 }
 .ejercicio2__h1{
   margin-left: 50%;
 }

//Ejercicio3

.ejercicio3__img{
  width: 90px;
  border-radius: 127px;
}

.nav__ejercicio3_1{
  text-align: center;
  border: 2px solid $negro;
  background-color: $blanco;
  padding-top: 1px;
  margin-top: 1rem;
  height: 6rem;
}

.nav__ejercicio3_2{
  border: 2px solid $negro;
  background-color: $blanco;
  padding: 2rem;
  margin-top: 1rem;
  height: 6rem;
}

//Ejercicio4

.nav__ejercicio4_1{
  border: 2px solid $negro;
  background-color: $blanco;
  height: 6rem;
  margin-top: 1rem;
  margin-left: 4rem;
}

.nav__ejercicio4_2{
  border: 2px solid $negro;
  background-color: $blanco;
  height: 6rem;
  margin-top: 1rem;

}

.nav__ejercicio4_3{
  border: 2px solid $negro;
  background-color: $blanco;
  height: 6rem;
  margin-top: 1rem;
  margin-right: 4rem;
  padding-left: 6rem;
    text-align: center;
    padding-top: .5rem;
}

.nav__ejercicio4_h1{
  font-weight: $extrabold;
  text-align: center;
  margin-top: 17px;
}

.nav__ejercicio4_h2{
  text-align: center;
  margin-top: 10px;
}

.nav__ejercicio4_3_h3_1{
  float: left;
  margin-left: 10PX;
}

.nav__ejercicio4_3_h3_2{

}

.nav__ejercicio4_3{
  text-align: center;
}


//Ejercicio5

.ejercicio5_nav1{
  border: 2px solid $negro;
  background-color: $blanco;
  height: 6rem;
  margin-top: 1rem;
}

.ejercicio5_nav2{
  border: 2px solid $negro;
  background-color: $blanco;
  height: 6rem;
  margin-top: 1rem;
}

.ejercicio5_h1{
  font-weight: $extrabold;
  text-align: center;

}

.ejercicio5_nav2_div1{
  text-align: center;
}

.ejercicio5_nav2_div1_h3{
  float: right;
  margin-right: 5rem;
}

.ejercicio5_nav2_div1_h1{

}

.ejercicio5_nav2_div1_h3-1{
  text-align: right;
  margin-right: 17rem;
}

//Ejercicio6

.ejercicio6_h1{
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.ejercicio6_nav{
  text-align: center;
}

.ejercicio6_div_2{
  border: 2px solid $negro;
  height: auto;
}

.navbar-light .navbar-toggler{
  border-color: $blanco;
}

//Ejercicio7

.ejercicio7_nav{
  color: $blanco;
  text-align: center;
  background-color: $negro;
  padding: 3rem 5.7rem;
}

.navbar-dark .navbar-toggler{
  border-width: 1px;
  border-color: $blanco;
}
