//EJercio 1
.container-fluid{
  margin-left: 1.5rem;
  width: 98%;
}

.section_ejercicio1{
  background-color: $negro;
  width: 97.5%;
  height: 400px;
}

.section_ejercicio12{
  background-color: $negro;
  width: 96.5%;
  height: 400px;
}

footer{
  margin-left: 2.3rem;
  background-color: $negro;
  margin-right: 3.1rem;
}
