//EJercio 1
.ejercicio1_container{
  margin-left: 1.5rem;
  width: 96%;
}

.section_ejercicio1{
  border: 2px solid $negro;
  background-color: $blanco;
  width: 97.5%;
  height: 400px;
}

.section_ejercicio12{
  border: 2px solid $negro;
  background-color: $blanco;
  width: 99.5%;
  height: 400px;
  text-align: center;
  padding-top: 20%;
}

//Ejercicio2


.ejercicio2_container{
    width: 100%;
  }


.ejercicio2__h2{
  text-align: center;
  margin-bottom: 1rem;
}

.ejercicio2__p{
  line-height: 1.3;
}

.section_ejercicio2{
  border: 2px solid $negro;
  width: 310px;
  height: 500px;
  background-color: $blanco;
}

.section_ejercicio21{
  border: 2px solid $negro;
  width: 930px;
  height: 119px;
  background-color: $blanco;
  margin-bottom: .5rem;
}

.section_ejercicio211{
  width: 96.6%;
  margin-left: 0;
  height: 119px;
  background-color: $blanco;
  margin-bottom: .5rem;
}

.section_ejercicio2111{
  border: 2px solid $negro;
  background-color: $blanco;
  height: 119px;
}

//Ejercicio3

.ejercicio3__body{
  margin-left: 3rem;
  margin-right: 3rem;
}

.ejercicio3__div1{
  border: 2px solid $negro;
  background-color: $blanco;
  padding: 2rem;
  margin-top: 1rem;
  height: 450px;
}

.ejercicio3__div2{
  border: 2px solid $negro;
  background-color: $blanco;
  padding: 2rem;
  margin-top: 1rem;
  height: 350px;
}

.ejercicio3__div2_1{
  border: 2px solid $negro;
  background-color: $blanco;
  padding: 2rem;
  margin-top: 1rem;
  height: 84px;
}

.ejercicio3__div3{
  border: 2px solid $negro;
  background-color: $blanco;
  padding: 2rem;
  margin-top: 1rem;
  width: 194px;
  height: 450px;
  text-align:center;

}

.ejercicio3__div2__h1{

}

.ejercicio3__div2__h3{
margin-top: 1rem;
margin-bottom: 1rem;
}

.ejercicio3__div2__p{
  line-height: 1.5;
}

.ejercicio3__div3__h1{
  margin-top: 273%;
}

//Ejercicio4

.ejercicio4__div1{
  border: 2px solid $negro;
  background-color: $blanco;
  width: 1221px;
  height: 454px;
  margin-left: 66px;
  margin-top: 1rem;
}

.ejercicio4_img{
  width: 1217px;
  height: 450px;
  position: absolute;

  z-index: 1;
}

.ejercicio4__h1{
  position: absolute;
  z-index: 2;
  margin-left: 33%;
  margin-top: 18%;
}

//Ejercicio5

.ejercicio5_img{
  width: 100%;
  border: 2px solid $negro;
}

//Ejercicio6

.ejercicio6_div{
  height: 580px;
}

.ejercicio6_p{
  margin-bottom: 2rem;
}

.ejercicio6_li{
  margin-top: 1rem;
}

.ejercicio6_h12{
  margin-top: 11rem;
}

.ejercicio6_img{
  width: 93%;
  height: 50%;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.ejercicio6_h13{
  margin-top: 1rem;
  margin-left: 3rem;
}

.ejercicio6_p1{
  margin-bottom: 1rem;
}

.ejercicio6_row{
  margin-left: 0;
  margin-right: 0;
}

.ejercicio6_h122{
margin-left: 220px;
}

//Ejercicio7

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.ejercicio7_img{
  background-image: url('../img/osos.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.ejercicio7_div1{
  text-align: center;
}

.ejercicio7_h1{

  font-size: 22rem;
}

.ejercicio7_h3{
  margin-bottom: 2rem;
  padding-right: 45px;
  margin-top: 50px;
  padding-left: 45px;
}

//Ejercicio8

.ejercicio8_hed{
  margin-top: 3rem;
  padding-left: 75px;
}

.ejercicio8_h1{
  font-size: 55px;
  color: $rojo;
  margin-top: 1rem;
}

.ejercicio8_img2{
  width: 100%;
}

.ejercicio8_img21{
  width: 100%;
}

.ejercicio8_h31{
  padding-right: 100px;
}

.ejercicio8_div2{
  padding-right: 100px;
  margin-top: 1rem;
}

.ejercicio8_hr{
  margin-top: 2rem;
  border: 12;
  width: 800px;
  background-color: black;
}

.ejercicio8_img3{
  width: 100%;
}

.ejercicio8_div_h3{
  text-align: right;
}

.ejercicio8_div_h1{
  text-align: center;
  font-size: 200px;
  color: $rojo;
}

.ejercicio8_h11{
  font-size: 150px;
}
